<!-- <iframe
  src="https://miro.medium.com/v2/resize:fit:1400/1*zBFBJktPD3_z0S_35kO5Hg.gif"
  width="480"
  height="361"
  frameBorder="0"
  class="giphy-embed"
  allowFullScreen
></iframe>
<p>
  <a
    href="https://giphy.com/gifs/gengar-jijidraws-jiji-knight-UHAYP0FxJOmFBuOiC2"
    >via GIPHY</a
  >
</p> -->

<div style="height:410px; width:700px;" class="container text-center">
  <h1 style="font-size: 50px">Oops looks like you are lost!</h1>
  <div style="margin-top:400px ;">
    <h2></h2>
    <h5 style="font-weight: 700;">The page you looking for is not available</h5>
    <button routerLink="" class="btn btn-success">Bot to Home</button>
  </div>
</div>
